.about{
    display: grid;
    &-content {
        max-width: 340px;
        margin: auto;
        &__paragraph {
            &:first-child{
                text-align: center;
                border: none;
            }
            padding: .5em;
            border-left: 1px solid;
        }
    }
    
}