.card-services {
    background: #fafafa;
    max-width: 340px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 1em;
    box-shadow: 1px 0px 2px 0px;
    margin-bottom: 2em;
    border-radius: 10px;
    cursor: pointer;

    @include tablet {
        max-width: 260px;
        position: relative;
        margin: 0;
        align-self: center;
        justify-self: center;

        &:hover {
            box-shadow: 4px 5px 9px 0px;
            transform: scale(1.01);
        }
    }

    @include laptop {
        max-width: 310px;

    }

    &__title,
    &__description {
        text-align: center;
    }
}

.services {
    display: grid;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;

        h2 {
            grid-column: 1/-1;
        }
    }
}

@keyframes mover {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}