.contact {
    display: grid;

    &-content {
        display: grid;

        a {
            margin-left: .3em;
        }

        &__item {
            text-align: center;
            margin-bottom: 1em;

            &:last-child {
                display: grid;
                grid-template-columns: 20% 80%;
                width: 100%;
                margin: auto;

                i {
                    align-self: center;
                    font-size: 24px;
                }
            }
        }

        &__address {
            display: flex;

            h3 {
                align-self: center;
            }

            p {
                margin-left: .2em;
            }
        }
    }
}