.header {
    width: 100%;
    height: 2.5em;

    @include laptop {
        height: 3em;
        background: $text-color;

        &-content {
            height: inherit;
            max-width: 850px;
            margin: auto;
        }
    }

    .menu {
        display: grid;
        position: fixed;
        z-index: 200;
        width: 100%;
        align-self: flex-end;
        background: $text-color;
        top: 0;
        height: 2.5em;

        @include laptop {
            height: 3em;
            left: 0;
        }

        .logo {
            font-size: 18px;
            display: inline;
            width: fit-content;
            margin-left: .6em;
            text-shadow: -2px 3px 4px;

            @include laptop {
                position: relative;
                left: 5%;
            }

        }
    }
}

.navbar {
    background: #ffff;
    position: fixed;
    width: 100%;
    height: 2.5em;
    top: 0;
    box-shadow: -2px 3px 17px 4px;
    z-index: 100;

    @include laptop {
        position: fixed;
        top: 0;
        max-width: 850px;
        z-index: 200;
        box-shadow: none;
        background: transparent;

        height: 3em;

    }

    &-content {
        display: flex;
        position: fixed;
        flex-direction: column;
        width: 100%;
        align-items: center;
        top: 2.5em;
        padding-bottom: .9em;
        background: inherit;
        transform: translateY(-100%);
        transition-property: transform;
        transition-duration: 1s;
        z-index: 100;

        @include laptop {
            width: 50%;
            flex-direction: row;
            right: 0;
            padding: 0;
            height: 3em;
            position: relative;
            float: right;
        }

        &.show {
            transform: translateY(0);
            transition-property: transform;
            transition-duration: 1s;
        }

        &__item {
            display: flex;
            justify-content: space-evenly;
            padding: 0.5em;
            border-bottom: 1px outset;
            width: 80%;

            @include laptop {
                border: none;
                align-self: flex-end;
            }

        }

        &__link {
            color: #010101;

            &:hover {
                color: $secondary-color;
            }

            &.active {
                color: $secondary-color;
            }
        }
    }
}