.Btn {

    display: flex;
    align-items: center;
    padding: .4em;
    border-radius: 7px;
    background: $primary-color;

    &__link {
        display: flex;
        align-items: center;
        color: $text-color;
        font-weight: 500;
        border-bottom: 2px solid;
        border-width: 50%;
        margin-left: .3em;
        padding-bottom: .1em;
    }
}