.Btn {

    border: none;
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        color: #2c74cd;
        font-weight: bold;

        border-bottom: 2px solid;
        border-width: 50%;
        margin-left: .3em;
        padding-bottom: .1em;
    }
}