#__next {
    display: grid;
    height: 100vh;
}

body {
    height: 100vh;
    background: $background-color-dark;
    overflow-x: hidden;
}

ul {
    @include reset-list;
}

*::selection {
    background-color: $primary-color;
    color: $text-color
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 1em;

    @include laptop {
        padding-top: 3em;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    background: $background-color-dark;
}

.btn-up {
    position: fixed;
    bottom: 5em;
    left: .5em;
    z-index: 100;
    font-size: 1.5em;
    transform: scale(0);
    color: $background-color;
    @include laptop {
        font-size: 1.8em;
        bottom: 3em;
    }
}
.home,
.about,
.about-content,
.footer,
.services-consultoria__content,
.services-frase,
.services-paragraph,
.services-content{
    z-index: 10;
}
.Title {
    font-size: 32px;
    border-bottom: 2px solid $primary-color;
    width: fit-content;
    justify-self: center;
    color: $terciary-color;
}

.facebook-pixel {
    display: none !important;
}

//404
.error404 {
    display: grid;
    height: 80vh;
    background-image: url("/img/services/consulting/search-consulting.jpg");
    background-size: contain;
}

.error404__title {
    display: grid;
}