#__next{
    display: grid;
}

ul {
    @include reset-list;
}

*::selection {
    background-color: $background-color;
    color: $text-color
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 1em;

    @include laptop {
        padding-top: 3em;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}
a{
    text-decoration: none;
    color: inherit;
}
.main{
    background: blue;
}